.lodaing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 100%;
    background: linear-gradient(45deg, rgb(36 255 255) 21%, rgb(26 203 203) 67%);
}
.image__container {
    margin-top: -4rem;
}